<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
 <distributable />
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveAction</servlet-name>
    <servlet-class>beehive.controller.SaveAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DisplayAction</servlet-name>
    <servlet-class>beehive.controller.DisplayAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignupAction</servlet-name>
    <servlet-class>beehive.controller.SignupAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>beehive.controller.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>displayServ</servlet-name>
    <servlet-class>beehive.controller.displayServ</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAction</servlet-name>
    <servlet-class>beehive.controller.UpdateAction</servlet-class>
  </servlet>
    <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StatusAction</servlet-name>
    <servlet-class>beehive.controller.StatusAction</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>SaveAction</servlet-name>
    <url-pattern>/SaveAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayAction</servlet-name>
    <url-pattern>/DisplayAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupAction</servlet-name>
    <url-pattern>/SignupAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>displayServ</servlet-name>
    <url-pattern>/display.do</url-pattern>
  </servlet-mapping>	
    <servlet-mapping>
    <servlet-name>UpdateAction</servlet-name>
    <url-pattern>/UpdateAction</url-pattern>
  </servlet-mapping>	
    <servlet-mapping>
    <servlet-name>StatusAction</servlet-name>
    <url-pattern>/StatusAction</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
