@charset "utf-8";

/* CSS Document */
/*开关*/
.switchtable{
	position:relative;
	margin-top:0.7rem;
	margin-left:0.1rem;
	margin-right:0.2rem;
	 border: 1px solid blue;
	 width:3rem;
	 font-size:0.12rem;
	 border: none;

}
.switchtable tr{
	 border: none;
	 border-bottom:1px solid #878787;
}
.switchtable th,td,tr{
	 border: none;
	 text-align:center;
}
.switchtable td,th{
	 width:0.5rem;
	 height:0.3rem;
 border: none;
}

.middiv2 {
	background:#FFFFFF;
	width:100%;
	height:5rem;
}
/*超过多少用户*/
.userCount{
	position:relative;
	margin-top:0.4rem;
	font-size:0.15rem;
	text-align:center;
	color:#FFFFFF;
	background:#05BF26;
	border-radius:0.1rem;
}
.positonwhite{
	height:1rem;
}
/*tab选项卡*/
.tabs{
	overflow:hidden;
}
.tabs li{
	
	float:left;
	font-size:0.15rem;
	border:1px solid #FFFFFF;
	width: 16.5%;
	text-align:center;
	box-sizing:content-box;
	border-radius:0.04rem;
}
.tab_container{
	height:auto;
	overflow:hidden;
	}

.active {
	background:#C5C5C5;
}
.tab_content{
	height:auto;
}
.chartanalyse{
	position:relative;

	height:1.9rem;
}

/*刷新时间*/
.refreshtable {
	position:relative;
	margin-top:0.2rem;
	margin-left:0.1rem;
	margin-right:0.75rem;
	background:#9AEAFF;
		
}
.refreshtable span{
	font-family:"黑体";
	font-size:0.15rem;
	font-stretch:condensed;
	color:#3418E3;
	position:relative;
	margin-top:0.5rem;
	margin-bottom:0.5rem;
	font-weight:900;
}

/*表格*/
.datatable{
	position:relative;
	margin-top:0.2rem;
	margin-left:0.1rem;
	margin-right:0.2rem;
	 border: 1px solid blue;
	 width:3rem;
	 font-size:0.12rem;

}
.datatable th,td,tr{
	 border: 1px solid black;

}
.datatable td,th{
	 width:0.5rem;
	 height:0.3rem;

}
.normal {
	color:#3471FF;
	font-weight:600;
}
.abnormal {
	color:#FF161A;
	font-weight:600;
}

/*曲线图div*/
.chartdiv{
	position:relative;
	height:3rem;
}
/*login page*/
.logobox{
	width:100%;
	height:2.5rem;
}
.logo{
	margin: 0 auto;
	width: 80%;
	height:2.5rem;
}
.logo img{
	position:relative;
	}
.form-group{
	font-size: 16px;
}
.btn-signup{
	background: #854ba6;
	border-color: #854ba6;
	border-radius: 7px;
	width: 540px;
	height: 44px;
	font-size: 20px;
}

/*显示刷新秒数*/


/*display page*/
img{
	position:absolute;
	left:0 ;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}

.topdiv {
    background: #00C5ED;
    width: 100%;
    height: 0.5rem;
    font-size: 0.25rem;
	font-family:"华文琥珀";
    color:#FFFFFF;
}

.topdiv p{ padding:3%; }

.middiv {
	background:#FFFFFF;
	width:100%;
	
}
.midcontentdiv {
	background:#FFFFFF;
	width:100%;
	overflow:auto;

}

.bottomdiv {
	background:#DBDBDB;
	width:100%;
	height:0.55rem;
	position:fixed;
	bottom:0;

}

.bottomicon{
	width:33%;
	height:0.55rem;
	position:relative;
	float:left;
}

.bottomicon img{
	height:70%;
	width:30%;
}


/**/
/* 通用单行显示内容 */
.list-items-box{border-bottom:1px solid #e5e5e5;padding-left:10%;background-color:#fff;}
.list-items-box li{border-bottom:1px solid #e5e5e4;background-color:#fff;height:72px;line-height:72px;}
.list-items-box li:last-child{border:0;}
.list-items-box li label{float:left;width:25%;color:#6c6c6c;font-size:3em;}

.list-items-box li input{border:0;outline:none;padding:12px 0;line-height:48px;font-size:3em;color:#a0a0a0;}
.list-items-box li input.left-input{float:left;width:70%;}
.list-items-box li input.right-input{width:62%;float:right;text-align:right;padding-right:8%;}

/*button*/
.btn-mg{margin:0 3%;}
.btn-box{height:50px;line-height:50px;border-radius:4px;text-align:center;}
.btn-box a{color:#fff;font-size:1.24em;display:block;}
.btn-full{width:100%;margin-top:4%;background-color:#1abce8;}
.btn-box.btn-disabled{cursor:not-allowed;background-color:#a0a0a0;}
.btn-orange{background-color:#f15125;}
.btn-green{background-color:#23d1c3;}
.btn-blank{border:1px dashed #ccc;background-color:#fff;}
.btn-blank a{color:#616161;}
